<a href="https://colab.research.google.com/github/likhitha-kadiyala/Sai-Likhitha_INFO5731_Spring2021/blob/main/In_class_exercise/In_class_exercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [1]:
#1.1
import requests as re
link = "https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt"
data = re.get(link) 
text_data = data.text 
#print(text2)

In [3]:
import nltk
nltk.download('punkt')

#Number of sentences
from nltk.tokenize import sent_tokenize
print("NUmber of sentences",len(sent_tokenize(text_data)))

#Number of words
from nltk.tokenize import word_tokenize
print("number of words",len(word_tokenize(text_data)))

#Number of characters
print("Number of characters",len(text_data))

#Average word length
tokenize_words = word_tokenize(text_data)  
words_length = []
for word in tokenize_words:
  words_length.append(len(word))
print("Average word length",sum(words_length)/len(tokenize_words))

#Number of stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
text = []
for word in tokenize_words:
  if word in stop:
    text.append(word)
#print(text)
print("number of stopwords",len(text))

#number of special characters
char_count=0
special_chars=['#','@','?','*','!','$','%','^','&','(',')']
for i in text_data:
  if i in special_chars:
    char_count=char_count+1
print("Number of special characters:",char_count)

#number of numerics
num_count=0
for value in text_data:
  if value.isdigit():
    num_count+=1
print("number of numeric:",num_count)

#Number of upper case words
uppercasewords_count=0
for word in text_data:
  if word.isupper():
    uppercasewords_count+=1
print("number of uppercase words:",uppercasewords_count)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
NUmber of sentences 173
number of words 4368
Number of characters 20613
Average word length 3.827838827838828
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
number of stopwords 1734
Number of special characters: 43
number of numeric: 356
number of uppercase words: 695

In [9]:
#1.2
import pandas as pd
import re
import nltk
nltk.download('punkt')
#lower casing
Lower = text_data.lower()
#print(lower)

#puntuation removal
Punc_rem = re.sub(r'[^\w\s]','',Lower) 
#print(Punc_rem)

#stopwords removal
text = " "
rem = Punc_rem.split('\n')
for i in rem:
  for j in i.split():
    if not j in stop:
      text = text + ' ' + j
  text = text + '\n'
#print(text)

#frequent words removal
freq_words = pd.Series(text.split()).value_counts()[:20] #freq=pd.Series(data.split()).value_counts()[:10]
print("frequent words:\n",freq_words)
freq_rem = " "  
freq_words = list(freq_words.index)
for k in text.split('\n'):
  for l in k.split():
    if not l in freq_words:
      freq_rem = freq_rem + ' ' + l
  freq_rem = freq_rem + '\n'
#print(freq_rem)

#Rare words removal
rare_words = pd.Series(text.split()).value_counts()[-10:]
print("Rare words:\n",rare_words)
rare_rem = " "  
rare = list(rare_words.index)
for e in freq_rem.split('\n'):
  for f in e.split():
    if not f in freq_words:
      rare_rem = rare_rem + ' ' + f
  rare_rem = rare_rem + '\n'
#print(rare_rem)

#spelling correction
from textblob import TextBlob
spell_corr = TextBlob(rare_rem).correct()
#print(spell_corr)

#stemming 
from nltk.stem import PorterStemmer 
ps = PorterStemmer()
stemming = " "                               
for g in spell_corr.split('\n'):
  for h in g.split():
     stemming = stemming + ' ' + ps.stem(h) #train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
  stemming = stemming + '\n'
#print(stemming)

#lemmatization 
import nltk
nltk.download('wordnet')
from textblob import Word
lemmatization = " "
for a in spell_corr.split('\n'):
  for b in a.split():
     lemmatization = lemmatization + ' ' + Word(b).lemmatize() #train['tweet']=train['sentence'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
  lemmatization = lemmatization + '\n'
#print(lemmatization)

#1.3 Saving to a csv file
import csv
file = open('final.csv','w') 
file.write("output\n") 
file.write(lemmatization)
output_df = pd.read_csv("final.csv","\n")
output_df

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
frequent words:
 execution     50
crop          49
lien          25
levy          25
claimants     22
v             22
case          21
right         21
court         20
gathered      19
growing       16
contract      16
rep           16
ala           15
law           15
cotton        14
2             13
possession    13
plaintiff     13
sale          13
dtype: int64
Rare words:
 7th           1
unripe        1
assign        1
disposes      1
contradict    1
remedies      1
delivered     1
rees          1
256           1
injury        1
dtype: int64
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                                   output
0                                   5 740
1                         supreme alabama
2                                    adam
3                           manner norton
4                          june term 1843
..                                    ...
115                      filing situation
116                    negative treatment
117   negative treatment result situation
118                               history
119              history result situation

[120 rows x 1 columns]

In [10]:
#1.4
print("Top 10 1-gram")
for i in range(10):
 print(TextBlob(output_df['output'][i]).ngrams(1))
print("Top 10 2-grams")
for i in range(10):
 print(TextBlob(output_df['output'][i]).ngrams(2))
print("Top 10 3-grams")
for i in range(10):
 print(TextBlob(output_df['output'][i]).ngrams(3))

Top 10 1-gram
[WordList(['5']), WordList(['740'])]
[WordList(['supreme']), WordList(['alabama'])]
[WordList(['adam'])]
[WordList(['manner']), WordList(['norton'])]
[WordList(['june']), WordList(['term']), WordList(['1843'])]
[WordList(['sycosis'])]
[WordList(['writ']), WordList(['error']), WordList(['circuit']), WordList(['sumter'])]
[WordList(['west']), WordList(['headnotes'])]
[WordList(['1'])]
[WordList(['chattel']), WordList(['mortgage'])]
Top 10 2-grams
[WordList(['5', '740'])]
[WordList(['supreme', 'alabama'])]
[]
[WordList(['manner', 'norton'])]
[WordList(['june', 'term']), WordList(['term', '1843'])]
[]
[WordList(['writ', 'error']), WordList(['error', 'circuit']), WordList(['circuit', 'sumter'])]
[WordList(['west', 'headnotes'])]
[]
[WordList(['chattel', 'mortgage'])]
Top 10 3-grams
[]
[]
[]
[]
[WordList(['june', 'term', '1843'])]
[]
[WordList(['writ', 'error', 'circuit']), WordList(['error', 'circuit', 'sumter'])]
[]
[]
[]

In [11]:
term_frequency = (output_df['output']).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()  
term_frequency.columns = ['words','term_frequency']
term_frequency

        words  term_frequency
0           5             8.0
1         740             2.0
2                       120.0
3     alabama             1.0
4     supreme             1.0
..        ...             ...
770    agreed             1.0
771       six             1.0
772    filing             2.0
773  negative             2.0
774   history             2.0

[775 rows x 2 columns]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [12]:
import re
ip = "260.08.094.109"
string = re.sub('\.[0]*', '.', ip)
print(string)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [13]:
import re
data = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump"
years = re.findall(r'2\d{3}', data)
print(years)

['2010', '2010', '2019']