<a href="https://colab.research.google.com/github/likhitha-kadiyala/Sai-Likhitha_INFO5731_Spring2021/blob/main/in_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The first In-class-exercise (1/19/2021, 20 points in total)

(1) Write a Python program to calculate the length of a string. (2 points)

In [3]:
sample_string ="Computational methods"
print("length:" + str(len(sample_string)))

length:21

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
sample= input("enter a string:")
res={}                           
for char in sample:                  
  if char in res:
   res[char]=res[char] +1
  else:
    res[char]= 1
print(res)

enter a string:google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [6]:
list=[1,4,13,6]      
sum=0
for a in list:     
  sum=sum + a
print(sum)

24

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [10]:
sample="restart"                       
a= sample[0]
string1=sample.replace("r","$")		
string2=a+string1[1:]			
print("result:" + string2)

result:resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [13]:
a=input("enter a")
b=input("enter b")
s=3.14*(pow(1+(float(a)/float(b)),3))     
print(s)

enter a1.5
enter b2.5
12.861440000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [14]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
result={}
for value in (dic1,dic2,dic3):
  result.update(value)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [16]:
sample_tuple = ("a","b","c")
value=input("print a value to check:")
if value in sample_tuple:
  print("value exists")
else:
  print("value doesnot exists")

print a value to check:b
value exists

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [17]:
set={32,6,90,1,55}
print("Max:" + str(max(set)))
print("min:" + str(min(set)))

Max:90
min:1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here