<a href="https://colab.research.google.com/github/likhitha-kadiyala/Sai-Likhitha_INFO5731_Spring2021/blob/main/assignments/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
import random
values = random.sample(range(100), 12)
print("the random values are",values)
print('ascending order',sorted(values))
print("descending order",sorted(values,reverse=True))
average=sum(values)/len(values)
print("average is",average)

the random values are [31, 90, 68, 22, 76, 60, 24, 30, 84, 6, 77, 16]
ascending order [6, 16, 22, 24, 30, 31, 60, 68, 76, 77, 84, 90]
descending order [90, 84, 77, 76, 68, 60, 31, 30, 24, 22, 16, 6]
average is 48.666666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
import re
sent_1 = input("Enter first sentence")
sent_2 = input("Enter second sentence")

def list_conv(sentence):
  r = re.compile(r'\w+|[^\w\s]')
  return r.findall(sentence)

list_1=list_conv(sent_1)
print("list of sentence 1", list_1)
list_2=list_conv(sent_2)
print("list of sentence 2", list_2)


Common_words=[word for word in list_1 if word in list_2 ]
print("words common in both lists",Common_words)

print("after removing punctuations")
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
rem_punc = " "
sent_list = sent_1, sent_2
for i in sent_list:
  for letter in i:
    if letter not in punctuations:
         rem_punc = rem_punc+ letter
  print(rem_punc)
  rem_punc = " "


sent1=list_1+list_2
def vowel(sent1):
  vow_count = {}.fromkeys('aeiou',0)
  for value in sent1:
     for letter in value:
       if letter in vow_count:
         vow_count[letter] += 1
  print(vow_count)

vowel(sent1)

Enter first sentenceHow are you? It's hot today.
Enter second sentenceHi, I am good. How are you?
list of sentence 1 ['How', 'are', 'you', '?', 'It', "'", 's', 'hot', 'today', '.']
list of sentence 2 ['Hi', ',', 'I', 'am', 'good', '.', 'How', 'are', 'you', '?']
words common in both lists ['How', 'are', 'you', '?', '.']
after removing punctuations
 How are you Its hot today
 Hi I am good How are you
{'a': 4, 'e': 2, 'i': 1, 'o': 8, 'u': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
import math
def volume(r):
  return (4/3*math.pi*r**3)

print ('r    V')

for r in range(1,11):
  print (str(r) +"   " +str(volume(r)))

r    V
1   4.1887902047863905
2   33.510321638291124
3   113.09733552923254
4   268.082573106329
5   523.5987755982989
6   904.7786842338603
7   1436.7550402417319
8   2144.660584850632
9   3053.6280592892786
10   4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
#question 4.(1)
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv')
df_occupied = df[df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
df_Occupied_Asc = df_occupied.sort_values('year',ascending=True)
df_Occupied_Asc['year interval']  = ['2008','2009-2008','2010-2009','2011-2010','2012-2011','2013-2012','2014-2013']
df_Occupied_Asc['diff_in_units']= df_occupied.value.diff().sort_values()
df_Occupied_Asc = df_Occupied_Asc.sort_values('diff_in_units',ascending= True)
df_col = ['year interval','diff_in_units']
final= df_Occupied_Asc[df_col]
print("the ascending order of difference in occupied units\n",final)

the ascending order of difference in occupied units
    year interval  diff_in_units
17     2009-2008         -795.0
11     2011-2010         -303.0
8      2012-2011         1404.0
5      2013-2012         1565.0
2      2014-2013         2622.0
14     2010-2009         5091.0
20          2008            NaN

In [ ]:
# question 4.(2)
vac_houses_lst = df[df['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value'].values.tolist()
occ_houses_lst = df[df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value'].values.tolist()
total_houses_lst = df[df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()
Year = df[df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year'].values.tolist()
vac_houses = [str(round((v/t)*100,4))+' %' for v,t in zip(vac_houses_lst,total_houses_lst)]
occ_houses = [str(round((o/t)*100,4))+' %' for o, t in zip(occ_houses_lst, total_houses_lst)]
result = pd.DataFrame(list(zip(Year,vac_houses, occ_houses)), columns =['Year','percentage_vacant houses', 'percentage_occupied houses'])
result

   Year percentage_vacant houses percentage_occupied houses
0  2008                10.8827 %                  89.1173 %
1  2009                 9.0711 %                  90.9289 %
2  2010                 8.1426 %                  91.8574 %
3  2011                 9.3795 %                  90.6205 %
4  2012                 6.6776 %                  93.3224 %
5  2013                 8.8018 %                  91.1982 %
6  2014                 5.7301 %                  94.2699 %

In [ ]:
#question 4.(3)
df_occ=df.loc[df['title_field'] == 'Occupied Housing Units']
df_vac=df.loc[df['title_field'] == 'Vacant Housing Units']
df_result = pd.concat([df_vac[df_vac['value']==df_vac['value'].max()],df_occ[df_occ['value']==df_occ['value'].max()]])
print(df_result[['title_field','year','value']])

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [ ]:
#question 4.(4)
from scipy import stats
print('harmonic mean of the total housing units=  %f'%stats.hmean(total_houses_lst))

harmonic mean of the total housing units=  44398.285440